/* App.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a global font for the app */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Center the main content */
.App {
  text-align: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
}